.user-container {
  background-color: rgb(236, 204, 163);
  padding: 5px;
  color: black;
  height: 200px;
  width: 200px;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
#user-img {
  height: 100px;
  width: 100px;
  border-radius: 60%;
}
